<nav class="navbar">
  <div class="navbar-left flex flex-wrap">
    <div>
      <img src="assets/logo_latest.png" alt="Logo" class="logo" />
    </div>
  </div>

  <div class="navbar-center">
    <a
      class="nav-item"
      routerLink="/main/home_page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a
      class="nav-item"
      routerLink="/main/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Portfolio
    </a>
    <a class="nav-item" routerLink="/main/investment" routerLinkActive="active">
      Investment
    </a>

    <a
      class="nav-item"
      routerLink="/main/transaction"
      routerLinkActive="active"
    >
      Transaction
    </a>
    <a class="nav-item" routerLink="/main/profile" routerLinkActive="active">
      Profile
    </a>
    <a class="nav-item" routerLink="/main/admin-main" routerLinkActive="active">
      Admin
    </a>
  </div>

  <div class="navbar-right">
    <span class="p-input-icon-left search-box">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search CipherUi..." />
    </span>

    <div class="navbar-user">
      <span class="brand">{{ userName }}</span>
      <img src="assets/profile_male.png" alt="User" class="profile-img" />
    </div>

    <a class="nav-item logout-btn" routerLink="/auth">Logout</a>
  </div>
</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
