<div class="login-wrapper">
  <!-- Left side content with quotes -->
  <div class="login-left">
    <div class="brand">INVEST<span>WISE</span></div>
    <h1 class="headline">GROW YOUR WEALTH</h1>
    <p class="subhead">Where Smart Investments Shape Your Future.</p>
    <p class="quote">
      "An investment in knowledge pays the best interest." – Benjamin Franklin
    </p>
  </div>

  <!-- Right side form -->
  <div class="login-right">
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" />

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" />

      <a href="#" class="forgot-link">Forgot password?</a>

      <button type="submit" class="btn-primary">SIGN IN</button>

      <div class="divider"><span>or</span></div>

      <button type="Register" class="btn-primary">Register</button>


      <!-- <button type="button" class="btn-google">
        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" />
        Sign in with Google
      </button> -->

      <p class="register-text">
        New here? <a routerLink="/register">Create an Account</a>
      </p>
    </form>
  </div>
</div>
