.maintenance-container {
  position: relative;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #002b5b, #0466c8);
  overflow: hidden;

  .maintenance-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
