<div class="dashboard-container">
  <div class="account-cards">
    <div class="card cash">
      <div class="card-title font-bold">Total Invested Amount</div>
      <div class="card-value">
        ₹{{ dashboardData.portfolio.totalInvested | number : "1.2-2" }}
      </div>
      <div class="card-address">
        Account No: {{ dashboardData.portfolio.accountNo }}
      </div>
    </div>

    <div class="card bitcoin">
      <div class="card-title font-bold">Profit Percentage / Dividends</div>
      <div class="card-value">
        {{ dashboardData.portfolio.profitPercentage }} %
      </div>
      <div class="card-address">
        Updated on: {{ dashboardData.portfolio.lastUpdated }}
      </div>
    </div>

    <div class="card profit">
      <div class="card-title font-bold">Profit</div>
      <div class="card-value">₹{{ dashboardData.portfolio.profitAmount }}</div>
      <div class="card-address">
        Updated on: {{ dashboardData.portfolio.lastUpdated }}
      </div>
    </div>

    <div class="card ethereum">
      <div class="card-title font-bold">Total Amount</div>
      <div class="card-value">₹{{ dashboardData.portfolio.totalAmount }}</div>
      <div class="card-address">Including Profit</div>
    </div>

    <div class="card ripple">
      <div class="card-title font-bold">Balance Amount</div>
      <div class="card-value">₹{{ dashboardData.portfolio.balanceAmount }}</div>
      <div class="card-address">Available to Withdraw</div>
    </div>
  </div>

  <div class="charts-container">
    <div class="chart-card">
      <h3>Monthly Revenue</h3>
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        chartType="line"
      >
      </canvas>
    </div>

    <div class="chart-card">
      <h3>Cash Flow</h3>
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        chartType="bar"
      >
      </canvas>
    </div>
  </div>
</div>
