<div class="container mt-4">
  <h3 class="mb-3">Transaction History</h3>

  <p-table [value]="transactions" class="shadow-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-t>
      <tr>
        <td>{{ t.date }}</td>
        <td>{{ t.type }}</td>
        <td>₹{{ t.amount | number }}</td>
        <td>
          <span
            [class]="
              'badge bg-' + (t.status === 'Completed' ? 'success' : 'warning')
            "
          >
            {{ t.status }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
