<div class="grid m-3">
  <!-- Sidebar -->
  <div class="md:col-2 lg:col-2 xl:col-2 sm:col-12">
    <div class="list-container">
      <ul class="custom-list">
        <li
          class="list-item"
          *ngFor="let item of items; let i = index"
          (click)="selectItem(i)"
          [ngClass]="{ selected: selectedItem === i }"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Content -->
  <div class="sm:col-12 lg:col-10 xl:col-10 md:col-10">
    <router-outlet></router-outlet>
    <!-- Child components will render here -->
  </div>
</div>
